<h4>Current status</h4>
<hr/>

<table id="infos" class="margin-auto" style="width: auto">
    <tr>
        <td>Card Id</td>
        <td>{{ctrl.cardId ? ctrl.cardId : '-'}}</td>
    </tr>
    <tr>
        <td>Associated</td>
        <td>{{ctrl.currentRobotUrl ? 'YES' : 'NO'}}</td>
    </tr>
</table>

<h4>Robot's list</h4>
<hr/>
<div class="align-center">

    <div class="padded" id="radios-container" ng-init="robotsFilter=''">

        <div>
            <input type="radio" id="radio-all" name="robotsFilter" class="with-gap" ng-model="robotsFilter"
                   value="" checked>
            <label for="radio-all">All</label>
        </div>

        <div>
            <input type="radio" id="radio-used" name="robotsFilter" class="with-gap"
                    ng-model="robotsFilter" value="used">
            <label for="radio-used">Used only</label>
        </div>

        <div>
            <input type="radio" id="radio-free" name="robotsFilter" class="with-gap" ng-model="robotsFilter"
                   value="free">
            <label for="radio-free">Free only</label>
        </div>
    </div>

    <!--table of associations-->
    <table id="assoc-table" class="highlight z-depth-1 margin-auto">
        <thead>
        <tr>
            <th data-field="name">Robot</th>
            <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">URL</th>-->
            <th data-field="id">CardId</th>
            <th data-field="btn">Ass/Diss</th>
            <th data-field="btn">Ping</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in ctrl.robots | robotsFilter: robotsFilter"
            ng-class="{current: r.url == ctrl.currentRobotUrl}">
            <td>{{r.name}}</td>
            <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric ttfamily url-col">{{r.url}}</td>-->
            <td class="mono">{{r.cardId | cardid }}</td>
            <td>
                <!-- associate/dissociate -->
                <a id="dissBtn" ng-show="r.cardId" title="dissociate the thymio" ng-click="ctrl.dissociate(r)"
                   class="waves-effect waves-teal btn-flat"
                   ng-click="ctrl.ping(r)">
                    <i class="material-icons">radio_button_checked</i>
                </a>

                <a id="assBtn" title="associate this thymio with {{self.cardId}}" ng-show="!r.cardId"
                   ng-click="ctrl.associate(r)"
                   ng-disabled="!ctrl.cardId || ctrl.currentRobotUrl"
                   class="waves-effect waves-teal btn-flat"
                   ng-click="ctrl.ping(r)">
                    <i class="material-icons">radio_button_unchecked</i>
                </a>
            </td>
            <td>
                <!-- ping button -->
                <a id="pingBtn" title="ping the thymio"
                   class="waves-effect waves-teal btn-flat"
                   ng-click="ctrl.ping(r)">
                    <i class="material-icons">check_circle</i>
                </a>
            </td>


        </tr>
        </tbody>
    </table>
</div>