.align-center {
    text-align: center;
}

.margin-auto {
    margin: 10px auto;
}

/* *****************************************************************
 * layout
 * ****************************************************************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* --- footer*/

footer.page-footer {
    display: flex;
    background: rgb(66, 66, 66);
    color: rgb(158, 158, 158);
    text-align: center;
    justify-content: space-between;
    padding: 32px 16px;
}

.thymio-center-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer ul li {
    display: inline;
}

footer a {
    color: inherit;
    margin: 0 10px;
    font-weight: bold;
}

/* --- header*/

header {
    display: flex;
    text-align: center;
}

#header {
    width: 100%;
    background: rgb(33, 150, 243);
    color: white;
    z-index: 1000;
    margin: auto;
}

#mini-header {
    background: rgb(33, 150, 243);
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 7px 0;
}

header h1 {
    color: white;
    /*font-size: 10vw;*/
    font-size: 56px;
}

img.heiafr-logo {
    width: 700px;
}

/*small screen*/
@media screen and (max-width: 1000px ) {

    img.heiafr-logo {
        width: 300px;
    }
    header h1 {
        font-size: 42px;
    }
}

/* *****************************************************************
 * general
 * ****************************************************************/
.bold {
    font-weight: bold;
}

.ttfamily {
    font-family: monospace;
}

.padded {
    padding: 10px;
}

/* *****************************************************************
 * tables
 * ****************************************************************/
.mdl-data-table {
    white-space: normal !important;
    font-size: 1em !important;
}

.url-col {
    word-break: break-all;
}

#infos td:first-child {
    font-weight: bold;
}

table tr.current {
    background-color: rgba(63, 81, 181, 0.3);
}

table tr.current:hover {
    background-color: rgba(63, 81, 181, 0.5) !important;
}