.align-center {
    text-align: center;
}

.margin-auto {
    margin: 10px auto;
}

/* *****************************************************************
 * layout
 * ****************************************************************/
.admin-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    flex-shrink: 0;
}

.admin-main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.admin-header .mdl-layout__header-row {
    padding-left: 40px;
}

.admin-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.admin-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.admin-layout.is-small-screen .admin-content {
    padding: 40px 28px;
}

/* *****************************************************************
 * general
 * ****************************************************************/
.bold {
    font-weight: bold;
}

.ttfamily {
    font-family: monospace;
}

.padded {
    padding: 10px;
}

/* *****************************************************************
 * tables
 * ****************************************************************/

#infos td:first-child {
    font-weight: bold;
}

table tr.current {
    background-color: rgba(63, 81, 181, 0.3);
}

table tr.current:hover {
    background-color: rgba(63, 81, 181, 0.5) !important;
}