/* Style Select Field */

body {
    overflow: hidden;
    margin: 10px;
}

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Remove focus */

select:focus {
    outline: none;
}

/* Hide label */

.mdl-selectfield label {
    display: none;
}

/* Use custom arrow */

.mdl-selectfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mdl-selectfield {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
}

.mdl-selectfield:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}

/* ==========  public CSS ========== */

.md-cell {
    margin: 0 !important;
}

.align-center {
    text-align: center;
}

/*action card*/

.action_card {
    display: inline-block;
    margin: 1%;
    max-width: 27%;
}

.action_card .action_card-img {
    padding: 20px;
}

.action_card .action_card-img img {
    max-width: 130px;
    width: 100%;
}

.action_card .action_card-title {
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

/* ==========  dragged ========== */

.as-sortable-dragging {
    border: none;
    box-shadow: none;
}

.as-sortable-dragging .as-sortable-item {
    max-width: 100% !important;
}

/* ==========  grid-left ========== */

.grid-left .mdl-card {
    width: 100%;
    text-align: center;
}

.grid-left .mdl-card img {
    margin: auto;
}

.grid-left .mdl-card__actions {
    font-weight: bold;
    background-color: #aa00ff;
    color: white;
}

/* ==========  grid-right ========== */

.grid-right {
    position: absolute;
    top: 10px;
    bottom: 20px;
}

#notesArea{
   width: 80%;
    margin:20px;
}

#drop {
    min-height: 30%;
    max-height: 80%;
    width: 80%;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 20px;
    padding-bottom: 60px;
    position: absolute;
    overflow-y: auto;
}

/*prog card*/
.prog_card {
    margin: 10px;
    background: white;
}

.prog_card.invalid {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: transparent !important;
}

.prog_card > div {
    display: inline-block;
    margin: 0 2%;
}

.prog_card-img {
    padding: 10px 0;
    width: 11%;
}

.prog_card-img img {
    width: 100%;
}

.prog_card-args {
    width: 60%;
}

/* *****************************************************************
 * dialog
 * ****************************************************************/

#runDialogContent button {
    margin: 20px auto;
    width: 60%;
    height: 50px;
}