/* Style Select Field */

/*===================================new*/

/*====== containers agencement ======== */

/* left column: fixed */
#pushpin {
    width: 46%;
    margin: 2% 0 2% 2%;
}

/*right column*/
#program {
    width: 46%;
    margin: 2% 2% 2% 50%;
    /*either float: right or margin-right 50%*/
    /*float: right;*/
}

#drop {
    min-height: 300px;
    padding: 20px 10px 200px 10px;
    /*background: rgba(43, 187, 173, .05);*/
    background: rgba(0, 0, 0, .05);
}

/*====== material fixes ======== */

/*round icon buttons*/
.btn.btn-icon-round {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    width: 56px;
    padding: 0;
    position: relative;
}

.btn.btn-icon-round .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
    font-size: 24px;
}

@media screen and (max-width: 1000px){

    .btn.btn-icon-round {
        font-size: 18px;
        height: 42px;
        width: 42px;
    }

    .btn.btn-icon-round .material-icons {
        -webkit-transform: translate(-9px, -9px);
        transform: translate(-9px, -9px);
        line-height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

/*round icon buttons -- SMALL */
/*.btn.btn-icon-round.small {*/
    /*font-size: 18px;*/
    /*height: 42px;*/
    /*width: 42px;*/
/*}*/

/*.btn.btn-icon-round.small .material-icons {*/
    /*-webkit-transform: translate(-9px, -9px);*/
    /*transform: translate(-9px, -9px);*/
    /*line-height: 18px;*/
    /*width: 18px;*/
    /*font-size: 18px;*/
/*}*/

@media screen and (max-width: 1000px) {
    .btn.btn-icon-round.small {
        font-size: 12px;
        height: 28px;
        width: 28px;
    }

    .btn.btn-icon-round.small .material-icons {
        -webkit-transform: translate(-6px, -6px);
        transform: translate(-6px, -6px);
        line-height: 12px;
        width: 12px;
        font-size: 12px;
    }
}

/*textarea: remove huge spacing when empty */
textarea.materialize-textarea {
    padding: 1rem 0;
    min-height: 0;
}

/*mimic mdl-shadow--6dp*/
.shadow-6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

/*fix select inside scrollable (overflow:hidden) not visible*/
.select-wrapper ul {
    overflow: visible !important;
}

/*====== cards ======== */

.action_card {
    display: inline-block;
    margin: 1%;
    background: white;
    width: 27%;
}

.action_card .action_card-img {
    padding: 20px;
}

.action_card .action_card-img img {
    max-width: 130px;
    width: 100%;
}

.action_card .action_card-title {
    padding: 10px;
    font-weight: bold;
    color: white;
}

/* ==========  dragged ========== */

.as-sortable-dragging {
    border: none;
    box-shadow: none;
}

.as-sortable-dragging .as-sortable-item {
    max-width: 100% !important;
}

/* ==========  prog cards ========== */

/*prog card*/
.prog_card {
    margin: 10px;
    background: white;
}

.prog_card.invalid {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: transparent !important;
}

.prog_card > div {
    display: inline-block;
    margin: 0 2%;
}

.prog_card-img {
    padding: 10px 0;
    width: 11%;
    vertical-align: middle;
}

.prog_card-img img {
    width: 100%;
}

.prog_card-args {
    width: 60%;
}

/*====== other components ======== */

/*notes area*/
#notesArea {
    width: 80%;
    margin: 2px auto;
}

/*====== modals ======== */

.run-btn {
    font-weight: bold;
    line-height: 50px;
    margin: 20px auto;
    width: 60%;
    height: 50px;
}

.dm-footer button {
    background: white;
    border: 1px solid transparent;
    padding: 4px 13px;
    border-radius: 3px;
}

.dm-footer button:hover {
    background: #eee;
}

.run-error-icon i {
    font-size: 5em;
}

.run-error-icon {
    display: block;
    text-align: center;
    color: darkred;
}

/*====== general ======== */

html {
    line-height: 1;
    /*make things not selectable by default to
     avoid the ugly "selected" color  */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

/*title*/
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}


h1.title {
   font-size: 1.3em;
    font-weight: bold;
    margin: 5px;
}

/*utils*/
.align-center {
    text-align: center;
}
