<div class="header" style="padding: 10px; margin-bottom: 10px;">
    <!-- save in the cloud -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
    ng-click="ctrl.save()" ng-disabled="ctrl.progState == 0">
        <i class="material-icons">backup</i>
    </button>
    <!-- help -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
    ng-click="ctrl.help()">
        <i class="material-icons">help</i>
    </button>
    <!-- upload -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
    ng-click="ctrl.upload()">
        <i class="material-icons">play_circle_outline</i>
    </button>
    <!-- undo -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
            ng-click="ctrl.undo()" ng-disabled="!ctrl.canUndo()">
        <i class="material-icons">undo</i>
    </button>
    <!-- redo -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
            ng-click="ctrl.redo()" ng-disabled="!ctrl.canRedo()">
        <i class="material-icons">redo</i>
    </button>
</div>

{{ctrl.progState}}
<div ng-include src="'html/public/main_content.html'"></div>
