<div class="header" style="padding: 10px; margin-bottom: 10px;">
    <!-- Colored FAB button -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">backup</i>
    </button>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">help</i>
    </button>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">play_circle_outline</i>
    </button>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
            ng-click="ctrl.undo()">
        <i class="material-icons">undo</i>
    </button>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
            ng-click="ctrl.redo()">
        <i class="material-icons">redo</i>
    </button>
</div>

<div ng-include src="'html/public/main_content.html'"></div>
